{% comment %} {% for feature in features %}
<h1>Mese KOKO ne KOOSE {{feature.name}}, {{feature.detail}}, {{feature.price}}</h1>
{% endfor %} {% endcomment %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-wdd idth, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'cart.css' %}">
    <link rel="stylesheet" href="{% static 'font-6/css/all.css' %}">
    <script type="text/javascript">
        var user = '{{request.user}}'

        function getToken(name){
            var cookieValue = null;
            if(document.cookie && document.cookie !== ''){
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++){
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')){
                        cookieValue = decodeURIComponent(cookie.substring(
                            name.length + 1
                        ));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getToken('csrftoken')

        function getCookie(name){
            var cookieArr = document.cookie.split(";");

            for(var i = 0; i < cookieArr.length; i++){
                var cookiePair = cookieArr[i].split("=");

                if (name == cookiePair[0].trim()){
                    return decodeURIComponent(cookiePair[1]);
                }
            }
            return null;
        }

        var cart = JSON.parse(getCookie('cart'))
        if(cart == undefined){
            cart = {}
            console.log('cart was created')
            document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
        }
        console.log('Cart:', cart)
    </script>
</head>
<body>
    <header>
        <div class="first-header">
            <div class="div1">
                <div>
                    <h4 class="amazon">Amazon</h4>
                    <i class="fa-brands fa-amazon-pay fa-2x"></i>
                </div>
                {% if user.is_authenticated %}
                <p>Welcome, <em>{{user.username}}.</p>
                {% else %}
                <p>Welcome,  <em>user . . </em></p>
                {% endif %}
            </div>
            <div class="div2">
                <form action="{% url 'search' %}" method=POST>
                    {% csrf_token %}
                    <input type="search" name="searched" id="inp" placeholder="search" >
                    <button type="submit"><i class="fas fa-arrow-right"></i></button>
                </form>
                
            </div>
        </div>
        <div class="second-header">
            <div>
                <div class="bar-row2">
                    <a href="#">All</a>
                    <a href="#">Today's Deals</a>
                    <a href="#">Customer Service</a>
                    <a href="#">Registry</a>
                    <a href="#">Gift Cards</a>
                    <a href="#">Sell</a>
                </div>
                <div class="phone-view">
                    <input type="checkbox" id="input" class="input1">
                    <label for="input">
                        <i class="fas fa-bars bars"></i>
                    </label>
                    <div class="bar-row">
                        <a href="#">All</a>
                        <a href="#">Today's Deals</a>
                        <a href="#">Customer Service</a>
                        <a href="#">Registry</a>
                        <a href="#">Gift Cards</a>
                        <a href="#">Sell</a>
                    </div>
                </div>


                <div class="cure">
                    <a href="cart" class="cart-icon">
                        cart
                        <i class="fas fa-cart-shopping"></i>
                        {% if cartItems %}
                        <p>{{cartItems}}</p>
                        {% endif %}
                    </a>
                    {% if user.is_authenticated %}
                    <a href="logout" class="logout">logout </a>
                    {% else %}
                    <a href="register" class="register">Login/register</a>
                    {% endif %}
                </div>
                
            </div>
        </div>
    </header>
    <section>
        <div>
            <div class="card">
                <div>Items:{{order.get_cart_items}} </div>
                <div>Total:{{order.get_cart_total}} </div>
                <div class="checkout-link">
                    <a href="/">continue shopping</a>
                    <a href="checkout"> checkout</a>
                </div>
            </div>
            {% for item in items%}
            <div class="card">
                <div>
                    <img src="{{item.product.imageURL}}" alt="">
                </div>
                <div>
                    <p>Item:</p>
                    <p>{{item.product.name}} </p>
                </div>
                <div>
                    <p>Price:</p>
                    <p>{{item.product.price}} </p>
                </div>
                <div>
                    <p>Quantity:</p>
                    <p>{{item.quantity}}</p>
                    <div>
                        <i data-product={{item.product.id}} data-action="add" class="fas fa-caret-up update-cart"></i>
                        <i data-product={{item.product.id}} data-action="remove" class="fas fa-caret-down update-cart"></i>
                    </div>
                </div>
                <div>
                    <p>Total:</p>
                    <p>${{item.get_total}} </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <script src="{% static 'ecom1.js' %}"></script>
    <script type="text/javascript" src="{% static 'cart.js' %}"></script>
</body>
</html>