
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'checkout.css' %}">
    <link rel="stylesheet" href="{% static 'font-6/css/all.css' %}">
    <script type="text/javascript">
        var user = '{{request.user}}'
        function getToken(name){
            var cookieValue = null;
            if(document.cookie && document.cookie !== ''){
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++){
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')){
                        cookieValue = decodeURIComponent(cookie.substring(
                            name.length + 1
                        ));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getToken('csrftoken')

        function getCookie(name){
            var cookieArr = document.cookie.split(";");

            for(var i = 0; i < cookieArr.length; i++){
                var cookiePair = cookieArr[i].split("=");

                if (name == cookiePair[0].trim()){
                    return decodeURIComponent(cookiePair[1]);
                }
            }
            return null;
        }

        var cart = JSON.parse(getCookie('cart'))
        if(cart == undefined){
            cart = {}
            console.log('cart was created')
            document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
        }
        console.log('Cart:', cart)
    </script>
</head>
<body>
    <header>
        <div class="first-header">
            <div class="div1">
                <div>
                    <h4 class="amazon">Amazon</h4>
                    <i class="fa-brands fa-amazon-pay fa-2x"></i>
                </div>
                {% if user.is_authenticated %}
                <p>Welcome, <em>{{user.username}}.</p>
                {% else %}
                <p>Welcome,  <em>user . . </em></p>
                {% endif %}
            </div>
            <div class="div2">
                <form action="{% url 'search' %}" method=POST>
                    {% csrf_token %}
                    <input type="search" name="searched" id="inp" placeholder="search" >
                    <button type="submit"><i class="fas fa-arrow-right"></i></button>
                </form>
                
            </div>
        </div>
        <div class="second-header">
            <div>
                <div class="bar-row2">
                    <a href="#">All</a>
                    <a href="#">Today's Deals</a>
                    <a href="#">Customer Service</a>
                    <a href="#">Registry</a>
                    <a href="#">Gift Cards</a>
                    <a href="#">Sell</a>
                </div>
                <div class="phone-view">
                    <input type="checkbox" id="input" class="input1">
                    <label for="input">
                        <i class="fas fa-bars bars"></i>
                    </label>
                    <div class="bar-row">
                        <a href="#">All</a>
                        <a href="#">Today's Deals</a>
                        <a href="#">Customer Service</a>
                        <a href="#">Registry</a>
                        <a href="#">Gift Cards</a>
                        <a href="#">Sell</a>
                    </div>
                </div>


                <div class="cure">
                    <a href="cart" class="cart-icon">
                        cart
                        <i class="fas fa-cart-shopping"></i>
                        {% if cartItems %}
                        <p>{{cartItems}}</p>
                        {% endif %}
                    </a>
                    {% if user.is_authenticated %}
                    <a href="logout" class="logout">logout </a>
                    {% else %}
                    <a href="register" class="register">Login/register</a>
                    {% endif %}
                </div>
                
            </div>
        </div>
    </header> 
    <section>
        <div class="checkout-body">
            <div class="checkout-div-main">
                <div class="checkout-div">
                    <form id="form" action="" >
                        <div class="name-form">
                            <input type="text" name="name" id="" placeholder="Name.">
                            <input type="email" name="email" id="email" placeholder="Email.">
                        </div>
                        <div class="ship-info">
                            <p>Shipping information:</p>
                            <div class="address-div">
                                <div class="address-div1">
                                    <input type="text" name="address" id="" placeholder="Address.">
                                    <input type="text" name="city" id="" placeholder="City.">
                                </div>
                                <div class="address-div2">
                                    <input type="text" name="state" id="" placeholder="State.">
                                    <input type="text" name="zipcode" id="" placeholder="Zip code.">
                                </div>
                            </div>
                        </div>
                        <div class="checkout-btn">
                            <button type="submit" class="submit">Continue</button>
                        </div>
                    </form>
                </div>
                <div class="payment">
                    <p> Payment Options</p>
                    {% comment %} onclick="payWithPaystack()" {% endcomment %}
                    <button class="pay-btn"> Pay now </button>
                </div>
            </div>
            
            <div class="cart-div">
                <div class="cart-link">
                    <a href="cart"><i class="fas fa-arrow-left"></i>Back to Cart</a>
                </div>
                <div class="order-info">
                    <p>Order Summary</p>
                </div>
                {% for item in items %}
                <div class="product-div">
                    <div>
                        <img src="{{item.product.imageURL}}" alt="">
                    </div>
                    <div>
                        <p>{{item.product.name}} </p>
                    </div>
                    <div>
                        <p>${{item.product.price}} </p>
                    </div>
                    <div>
                        <p>{{item.quantity}} </p>
                    </div>
                </div>
                {% endfor %}
                <div class="item-div">
                    <p>Items: {{order.get_cart_items}} </p>
                    <p>Total: ${{order.get_cart_total}} </p>
                </div>
            </div>
        </div>
        
    </section>
    <script src="https://js.paystack.co/v1/inline.js"></script>
    <script src="{% static 'ecom1.js' %}"></script>
    <script type="text/javascript">
        user = '{{request.user}}'
        const paymentForm = document.querySelector('.pay-btn');
        if (user == 'AnonymousUser'){
            paymentForm.addEventListener("click", payWithPaystack, false);
        }
        if (user != 'AnonymousUser'){
            paymentForm.addEventListener("click", payWithPaystac, false);
        }
        
        var total = '{{order.get_cart_total}}'
        function payWithPaystack(e) {
            e.preventDefault();
            let handler = PaystackPop.setup({
                key: 'pk_test_60a4e3028a992a7898d9c724e563b8e60f96a22a',
                
                email: document.getElementById('email').value, // Replace with your public key
                amount: parseFloat(total).toFixed(2),
                currency: 'GHS',
                ref: "" + Math.floor(Math.random() * 1000000000 + 1), 
                onClose: function () {
                    alert("Window closed.");
                },
                callback: function (response) {
                    let message = "Payment complete! Reference: " + response.reference;
                    alert(message);
                    submitFormData();
                },
            });
            handler.openIframe()
        }

        function payWithPaystac(e) {
            e.preventDefault();
            let handler = PaystackPop.setup({
                key: 'pk_test_60a4e3028a992a7898d9c724e563b8e60f96a22a',
                email: '{{user.email}}',
                amount: parseFloat(total).toFixed(2),
                currency: 'GHS',
                ref: "" + Math.floor(Math.random() * 1000000000 + 1), 
                onClose: function () {
                    alert("Window closed.");
                },
                callback: function (response) {
                    let message = "Payment complete! Reference: " + response.reference;
                    alert(message);
                    submitFormData();
                },
            });
            handler.openIframe()
        }
    </script>
    

    <script type="text/javascript">
        pay_optEl = document.querySelector(".payment")
        submitEl = document.querySelector(".submit")
        payEl = document.getElementById("make-payment")
        name_formEl = document.querySelector(".name-form")
        check_mainEl = document.querySelector(".checkout-div")
        shipEl = document.querySelector('.ship-info')
        formEl = document.getElementById("form")

        user = '{{request.user}}'
        pay_optEl.classList.add("hidden")

        var shipping = '{{order.shipping}}'
        
        if(shipping == 'False'){
            shipEl.innerHTML = '';
        }
        if(user != 'AnonymousUser'){
            name_formEl.innerHTML = ''
        }
        if(user != 'AnonymousUser' && shipping =='False'){
            pay_optEl.classList.remove("hidden")
            check_mainEl.classList.add("hidden")
        }

        
        formEl.addEventListener("submit", function(e){
            e.preventDefault()
            console.log("form submitted...")
            submitEl.classList.add("hidden")
            pay_optEl.classList.remove("hidden")
        })


        {% comment %} payEl.addEventListener("click", function(){
            submitFormData()
        }) {% endcomment %}
        function submitFormData(){
            console.log("payment button clicked")

            var userFormData = {
                'name': null,
                'email': null,
                'total': total,
            }

            var shippingData = {
                'address': null,
                'city': null,
                'state': null,
                'zipcode': null,
            }

            if (shipping != 'False'){
                shippingData.address = form.address.value
                shippingData.city = form.city.value
                shippingData.state = form.state.value
                shippingData.zipcode = form.zipcode.value
            }

            if (user == 'AnonymousUser'){
                userFormData.name = form.name.value
                userFormData.email = form.email.value
            }

            //console.log("shipping info:", shippingData)
            //console.log("user's data:", userFormData)

            var url = 'processOrder'

            fetch(url, {
                method: 'POST',
                headers:{
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body:JSON.stringify({'form': userFormData, 'shipping': shippingData})
            })
            .then((response) =>{
                return response.json()
            })
            
            .then((data) =>{
                console.log('Success:', data);
                alert('Transaction completed');

                cart = {}
                document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
                
                window.location.href = "{% url 'index' %}"
            })
        }
        
    </script>

</body>
</html>