
{% load static %}     
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'ecom.css' %}">
    <link rel="stylesheet" href="{% static 'font-6/css/all.css' %}">
</head>
<body>
    <header>
        <div class="first-header">
            <div class="div1">
                <p>Amazon</p>
                <p><i class="fas fa-location"></i>
                    Deliver to Ghana</p>
                {% if user.is_authenticated %}
                <p>welcome {{user.username}} </p>
                {% else %}
                <p>welcome, shit Head</p>
                {% endif %}
            </div>
            {% comment %} <div class="div2">
                <input type="search" name="search" id="inp">
            </div> {% endcomment %}
        </div>
        <div class="second-header">
            <div>
                <i class="fas fa-bars"></i>
                <a href="#">All</a>
                <a href="#">Today's Deals</a>
                <a href="#">Customer Service</a>
                <a href="#">Registry</a>
                <a href="#">Gift Cards</a>
                <a href="#">Sell</a>
                <div class="cure">
                    <a href="cart" class="cart-icon">
                        cart
                        <i class="fas fa-cart-shopping"></i>
                        {% if cartItems %}
                        <p>{{cartItems}}</p>
                        {% endif %}
                    </a>
                    {% if user.is_authenticated %}
                    <a href="logout" class="logout">logout </a>
                    {% else %}
                    <a href="register" class="register">Login/register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
    <section>
        <center>
            <h1>hello {{request.user}} </h1>
                {% if searched %}
                <h1>You searched for ......{{searched}} </h1>
            {% else %}
                <h1>Hey, you forgot to search man....</h1>
                {% for content in contents %}
                    <h5> {{content}} </h5>
                {% endfor %}
            {% endif %}
            
        </center>
    </section>
    <script src="{% static 'ecom1.js' %}"></script>
    <script type="text/javascript" src="{% static 'cart.js' %}"></script>
</body>
</html>